.people {
    
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    
    margin: 1rem 0rem;
}
.text {
   padding: 2rem 1rem;
}
.message {
    display: flex;
    margin: 0rem 0rem;
    background-color: rgba(233, 233, 233, 0.87);
    border-radius: 5px;
    width: fit-content;
    margin: 1em;
    text-decoration: none;
    color: black;
}
.ava {
    margin: auto 1rem;
    text-decoration: none;
}